// Core
@import "vl-ui-core/src/scss/core";

// Components
@import "vl-ui-content-header/src/scss/content-header";
@import "vl-ui-textarea/src/scss/textarea";
@import "vl-ui-typography/src/scss/typography";
@import "vl-ui-button/src/scss/button";
@import "vl-ui-titles/src/scss/titles";
@import "vl-ui-util/src/scss/util";
@import "vl-ui-input-field/src/scss/input-field";
@import "vl-ui-select/src/scss/select";
@import "vl-ui-side-navigation/src/scss/side-navigation";
@import "vl-ui-introduction/src/scss/introduction";
@import "vl-ui-upload/src/scss/upload";

html {
  scroll-behavior: smooth;
}

textarea {
  resize: none;
}

#ld_input_area {
  resize: vertical;
  spellcheck: false;
}